/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Oo]bj/
/[Bb]uilds/
/[Ll]ogs/
/[U]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.exe
*.zip

.vs/

.idea/

.history/